.screen {
    display: flex;
    transition: opacity .8s ease-in-out;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    /* padding: 5%; */
}