@import url('./__startover/result__startover.css');
@import url('./__text/result__text.css');
@import url('./__icon-container/result__icon-container.css');
@import url('./__icon/result__icon.css');
@import url('./__wrapper/result__wrapper.css');

.result {
    height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}