@import url('./__text/main__text.css');
@import url('./__lead/main__lead.css');
@import url('./__question/main__question.css');
@import url('./__left-arrow/main__left-arrow.css');
@import url('./__reload/main__reload.css');
@import url('./__wrapper/main__wrapper.css');

.main {
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .main {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
