.footer__social-link {
    text-decoration: none;
    color: #838383;
    padding-right: 12px;
    line-height: 1.2;
}

@media screen and (max-width: 425px){
    .footer__social-link {
        text-decoration: none;
        color: #838383;
        padding-right: 20px;
        height: 25px;
        line-height: 1;
    }
}

.footer__social-link:hover {
    cursor: pointer;
}