@import url('./__grid/question__grid.css');
@import url('./__star/question__star.css');
@import url('./__text/question__text.css');
@import url('./__arrow1/question__arrow1.css');
@import url('./__arrow2/question__arrow2.css');
@import url('./__arrow3/question__arrow3.css');
@import url('./__arrow4/question__arrow4.css');
@import url('./__arrow5/question__arrow5.css');
@import url('./__pic-responsive1/question__pic-responsive1.css');
@import url('./__pic-responsive2/question__pic-responsive2.css');
@import url('./__answer1/question__answer1.css');
@import url('./__answer2/question__answer2.css');
@import url('./__answer3/question__answer3.css');
@import url('./__answer4/question__answer4.css');
@import url('./__answer5/question__answer5.css');

.question {
    height: 0;
    opacity: 0;
    justify-content: center;
    align-items: center;
    /* padding-top: 10%; */
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .question {
        align-items: center;
        padding: 0;
    }
}